@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #32468F;
}

.wrapper {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #5070E7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.siteTitle {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #2b49b5;
    border-radius: 5px;
}

.nav li:hover {
    background-color: #15245b;
    border-radius: 5px;
}

.inviteButton {
    background-color: #131391;
    border-radius: 5px;
}

.inviteButton:hover {
    background-color: #15245b;
    border-radius: 5px;
}